
button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  }
form{
    width:60%;
    padding: 20px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:table;
    border: 3px solid #555;

}
button:active {
    background-color: #ffbf00;
    }
button:hover {
    background-color:#002ead;
    transition: 0.5s;
    cursor: pointer;
    }

    .box {
        width: 25%;
        height: 75vh;
        background-color: #a5bbdd;
        margin: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        }
/* body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #c4c3ca;
    background-color: #1f2029;
    overflow-x: hidden;
} */
